* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
}

.parent {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 45%;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.right svg {
  width: 390px;
  margin-bottom: 20px;
}

.right h1 {
  font-weight: 400;
  margin: 20px 0;
  font-size: 35px;
}

.right > p {
  opacity: 0.5;
}

.footer {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.3;
  position: absolute;
  bottom: 45px;
  left: 51%;
}

.footer i {
  font-size: 11px;
  margin-top: 4px;
}

.top-bar {
  width: 100%;
  height: calc(49px + 59px);
}

.header {
  padding: 10px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f5f2;
}

.dp {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.header .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header svg {
  width: 27px;
  height: 27px;
  opacity: 0.6;
}

.search {
  padding: 10px;
  background-color: white;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.input {
  background-color: #f0f5f2;
  padding: 10px 5px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.input input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.search svg {
  width: 25px;
  height: 25px;
}

.m-parent {
  padding-top: 10px;
  height: calc(100vh - 118px);
  overflow-y: scroll;
}

.messages {
  padding: 10px 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  text-align: left !important;
}

.messages img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.item .right {
  text-align: left !important;
}
.item .right h2 {
  font-size: 18px;
  font-weight: 200;
  text-align: left !important;
}
.item > .right p {
  text-align: start !important;
}

hr {
  opacity: 0.2;
}

.footer {
  text-align: center;
}
